<footer class="mt-auto">
  <div class="f-info">
    <div class="f-socials">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-x-twitter"></i></a>
    </div>
    <div class="f-copyright">&copy; WanderWow, Inc</div>
    <div class="f-info-links">
      <a href="">Privacy</a> &middot; <a href="">Terms</a> &middot;
      <a href="">Company Details</a>
    </div>
  </div>
</footer>
